@{
    Layout = null;
}
<div class="well sidebar-nav shadow" style="padding: 7px">
    <ul class="nav nav-list">
        <li class="nav-header">
            
                <i class="icon-tags"></i> Tag
        </li>
        <li><a href="#"><span class="badge">1</span> asp.net-mvc</a></li>
        <li><a href="#"><span class="badge badge-success">2</span> C#</a></li>
        <li><a href="#"><span class="badge badge-warning">3</span> spring.net</a></li>
        <li><a href="#"><span class="badge badge-error">4</span> NHibernate</a></li>
        <li><a href="#"><span class="badge badge-info">5</span> WCF</a></li>
        <li><a href="#"><span class="badge badge-inverse">6</span> iBatis</a></li>
    </ul>
</div>
