@model MyStory.ViewModels.CurrentUserViewModel
@{
    Layout = null;
}
<script type="text/javascript">
    $(function () {
        $('#username').tooltip(
        {
            placement: 'bottom',
            delay: { show: 200, hide: 100 },
        });
    }); 
</script>
@if (Request.IsAuthenticated)
{
    <a href="@Url.Action("LogOff", "Account")" id="username" title="Welcome, @Model.FullName"><i
        class="icon-user icon-white"></i> <b>Log Off</b></a>
}
else
{
<a href="@Url.Action("LogOn", "Account")" ><i class="icon-user icon-white"></i> <b>Log On</b></a>
}