TestResults
[Dd]ebug/
[Rr]elease/
[Tt]est*
[Oo]bj
[Bb]in
*.user
*.suo
*.sln.cache
Output/
*.user
/.gitversion.tmp
/.gitversion.short.tm
Thumbs.db
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.resharper
Ankh.NoLoad
packages