@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.NumberOfAccounts == 0)
{
    <span>No Accounts created yet. @Html.ActionLink("Please Register Account", "Register", "Account")</span>
}
else
{
    
}

