@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Next</title>
    <link href="/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <style>
        body
        {
            padding-top: 60px;
        }
    </style>
    <link href="/Content/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
    @*<link href="/Content/common.css" rel="stylesheet" type="text/css" />*@
    <link href="/Content/Prettify/Themes/sons-of-obsidian.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="masonry-container">
        <div class="masonrybox shadow " id="10" style="margin: 7px;">
            <h3>
                <a class="article-title" href="/Post/Detail/10" title="June 26th Links: ASP.NET, ASP.NET MVC, .NET and NuGet">
                    June 26th Links: ASP</a></h3>
            <p>
                <p>
                    Here is the latest in my link-listing series. Also check out my Best of 2010 Summary
                    for links to 100+ other posts I’ve done in the last year.</p>
                <p>
                    [I am also now using Twitter for quick updates and to share links. Follow me at:
                    twitter.com/scottgu]</p>
                <p>
                    ASP.NET</p>
                <p>
                    Introducing new ASP.NET Universal Providers: Great post from Scott Hanselman on
                    the new System.Web.Providers we are working on. This release delivers new ASP.NET
                    Membership, Role Management, Session, Profile providers that work with SQL</p>
            </p>
            <p>
                <a href="/Post/Edit/10">edit</a> | <a class="delete-post-link" data-toggle="modal"
                    href="#modal-delete-post" onclick="openModal('10');">delete</a>
            </p>
        </div>
        <div class="masonrybox  shadow " id="8" style="margin: 7px;">
            <h3>
                <a class="article-title" href="/Post/Detail/8" title="ASP.NET Web API (Part 1)">ASP.NET
                    Web API (Par</a></h3>
            <p>
                <p>
                    Earlier this week I blogged about the release of the ASP.NET MVC 4 Beta. ASP.NET
                    MVC 4 is a significant update that brings with it a bunch of great new features
                    and capabilities. One of the improvements I’m most excited about is the support
                    it brings for creating “Web APIs”. Today’s blog post is the first of several I’m
                    going to do that talk about this new functionality.</p>
                <p>
                    Web APIs</p>
                <p>
                    The last few years have seen the rise of Web APIs - services exposed over plain
                    HTTP rather than through a m</p>
            </p>
            <p>
                <a href="/Post/Edit/8">edit</a> | <a class="delete-post-link" data-toggle="modal"
                    href="#modal-delete-post" onclick="openModal('8');">delete</a>
            </p>
        </div>
        <div class="masonrybox shadow  " id="7" style="margin: 7px;">
            <h3>
                <a class="article-title" href="/Post/Detail/7" title="Minimum Viable Product revisited">
                    Minimum Viable Produ</a></h3>
            <p>
                <p>
                    I wrote the following in response to a question about the Lean Startup practice
                    of Minimum Viable Product.</p>
                <p>
                    The straightforward interpretation of MVP is a product that is built to gain feedback
                    rather than built to maximize sales. I find it helpful to extend the idea. Here’s
                    my interpretation:</p>
                <p>
                    “Minimum” is a reminder to invest as little as possible to get the next burning
                    question answered or assumption validated. “Viable” is a reminder to build enough
                    to answer that question. “Product” i</p>
            </p>
            <p>
                <a href="/Post/Edit/7">edit</a> | <a class="delete-post-link" data-toggle="modal"
                    href="#modal-delete-post" onclick="openModal('7');">delete</a>
            </p>
        </div>
        <div class="masonrybox  shadow " id="6" style="margin: 7px;">
            <h3>
                <a class="article-title" href="/Post/Detail/6" title="TDD is Kanban for Code">TDD is
                    Kanban for Co</a></h3>
            <p>
                <p>
                    The other night Cynthia and I were having drinks in the Tower Bar of the Hotel Hafen
                    in Hamburg (highly recommend for the view if not the service) with Henning Wolf
                    and Arne Roock of it-agile when I casually mentioned that test-driven development
                    was kanban for code. Arne teaches kanban but the connection wasn’t obvious to him,
                    so I sketched my idea (see napkin above). He seemed to understand (he kept nodding,
                    anyway), but I thought it prudent to follow up with a post to make sure I’d thought
                    th</p>
            </p>
            <p>
                <a href="/Post/Edit/6">edit</a> | <a class="delete-post-link" data-toggle="modal"
                    href="#modal-delete-post" onclick="openModal('6');">delete</a>
            </p>
        </div>
        <div class="masonrybox  shadow " id="5">
            <h3>
                <a class="article-title" href="/Post/Detail/5" title="How Trello is different">How Trello
                    is differ</a></h3>
            <p>
                <p>
                    Horizontal means that it can be used by people from all walks of life. Word processors
                    and web browsers are horizontal. The software your dentist uses to torture you with
                    drills is vertical.</p>
                <p>
                    Vertical software is much easier to pull off and make money with, and it’s a good
                    choice for your first startup. Here are two key reasons:</p>
                <p>
                    It’s easier to find customers. If you make dentist software, you know which conventions
                    to go to and which magazines to advertise in. All you have to do is find den</p>
            </p>
            <p>
                <a href="/Post/Edit/5">edit</a> | <a class="delete-post-link" data-toggle="modal"
                    href="#modal-delete-post" onclick="openModal('5');">delete</a>
            </p>
        </div>
        <div class="masonrybox shadow  " id="4" style="margin: 7px;">
            <h3>
                <a class="article-title" href="/Post/Detail/4" title="The Management Team">The Management
                    Team</a></h3>
            <p>
                <p>
                    “The saddest thing about the Steve Jobs hagiography is all the young ‘incubator
                    twerps’ strutting around Mountain View deliberately cultivating their worst personality
                    traits because they imagine that’s what made Steve Jobs a design genius. Cum hoc
                    ergo propter hoc, young twerp. Maybe try wearing a black turtleneck too.”</p>
                <p>
                    From The Management Team, my guest post on Fred Wilson’s blog.</p>
                <p>
                    Need to hire a really great programmer? Want a job that doesn't drive you crazy?
                    Visit the Joel on Software
                </p>
            </p>
            <p>
                <a href="/Post/Edit/4">edit</a> | <a class="delete-post-link" data-toggle="modal"
                    href="#modal-delete-post" onclick="openModal('4');">delete</a>
            </p>
        </div>
        <div class="masonrybox shadow  " id="3" style="margin: 7px;">
            <h3>
                <a class="article-title" href="/Post/Detail/3" title="Should All Web Traffic Be Encrypted?">
                    Should All Web Traff</a></h3>
            <p>
                <p>
                    I initially resisted this as overkill, except for obvious targets like email (the
                    skeleton key to all your online logins) and banking.</p>
                <p>
                    Yes, you can naively argue that every website should encrypt all their traffic all
                    the time, but to me that's a &quot;boil the sea&quot; solution. I'd rather see a
                    better, more secure identity protocol than ye olde HTTP cookies. I don't actually
                    care if anyone sees the rest of my public activity on Stack Overflow; it's hardly
                    a secret. But gee, I sure do care if they so</p>
            </p>
            <p>
                <a href="/Post/Edit/3">edit</a> | <a class="delete-post-link" data-toggle="modal"
                    href="#modal-delete-post" onclick="openModal('3');">delete</a>
            </p>
        </div>
        <div class="masonrybox shadow  " id="2" style="margin: 7px;">
            <h3>
                <a class="article-title" href="/Post/Detail/2" title="Rubber Duck Problem Solving">Rubber
                    Duck Problem </a>
            </h3>
            <p>
                <p>
                    At Stack Exchange, we insist that people who ask questions put some effort into
                    their question, and we're kind of jerks about it. That is, when you set out to ask
                    a question, you should …</p>
                <p>
                    Describe what's happening in sufficient detail that we can follow along. Provide
                    the necessary background for us to understand what's going on, even if we aren't
                    experts in your particular area. Tell us why you need to know the answer. What led
                    you here? Is it idle curiosity or somehow blocking you on a pro</p>
            </p>
            <p>
                <a href="/Post/Edit/2">edit</a> | <a class="delete-post-link" data-toggle="modal"
                    href="#modal-delete-post" onclick="openModal('2');">delete</a>
            </p>
        </div>
    </div>
</body>
</html>
