@model MyStory.ViewModels.CurrentUserViewModel
@{
    Layout = null;
}


@if (Request.IsAuthenticated && Model != null)
{
    <a href="@Url.Action("LogOff", "Account")" id="username" title="Welcome, @Model.Name">
        <i class="icon-user icon-white"></i><b> Log Off</b></a>
}
else
{
    <a href="@Url.Action("LogOn", "Account")" ><i class="icon-user icon-white"></i><b>Log
        On</b></a>
}

